@use "../../pressets" as *;

.content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;

  &__title {
    color: $color-black;
    font-size: 3rem;
    font-weight: 500;
    line-height: $line-height-lg; /*var(--line-height-lg)*/
    margin: 0;

    @media (max-width: 991.8px) {
        line-height: $line-height-sm;
      }
  }
  &__description {
    color: $color-secondary;
    line-height: $line-height-lg;
    margin-bottom: 21px;
  }
  
  &__link {
    padding: 0.5em;
    color: $color-white;
    letter-spacing: $letter-spacing;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 65px;
  }

  @media (max-width: 576px) {
      text-align: center;
      align-items: center;
    }
}