
$font-size: 16px;
$container-primary: 1110px;
$container-sm: 540px;
$font-family: "Roboto", sans-serif;
$gap: 20px;
$gap-lg: calc($gap * 2);
$gap-sm: calc($gap * 0.5);
$letter-spacing: 0.1em;
$line-height-lg: 1.64;
$line-height-sm: 1.2;
